.iconz {
  padding-left: 5%;
  li {
    display: inline-block;
    transform: scale(0.3);
    width: 7vw;
    height: 7vw;
  }
}

.instagram {
	background: url('../../assets/social-icons.png') no-repeat -312px -7px;
	width: 80px;
	height: 81px;
}

.youtube {
	background: url('../../assets/social-icons.png') no-repeat -216px -8px;
	width: 64px;
	height: 80px;
}

.twitter {
	background: url('../../assets/social-icons.png') no-repeat -112px -16px;
	width: 80px;
	height: 64px;
}

.in {
	background: url('../../assets/social-icons.png') no-repeat -415px -12px;
	width: 71px;
	height: 71px;
}

.t {
	background: url('../../assets/social-icons.png') no-repeat -527px -13px;
	width: 45px;
	height: 70px;
}

.google-plus {
	background: url('../../assets/social-icons.png') no-repeat -620px -15px;
	width: 67px;
	height: 68px;
}

.fb {
	background: url('../../assets/social-icons.png') no-repeat -37px -13px;
	width: 34px;
	height: 69px;
}
