<secton class="upload-photo">
  <form ng-submit="uploadPhotoCtrl.uploadPhoto()" novalidate>
  <h3>upload a photo</h3>
  <fieldset>
    <input class="input-std" type="text" ng-model="uploadPhotoCtrl.photo.name" placeholder="name">
    <input class="input-std" type="text" ng-model="uploadPhotoCtrl.photo.desc" placeholder="description">
  </fieldset>
  <div>
    <p class="grab-img"
      ngf-select
      ng-model="uploadPhotoCtrl.photo.file">
      select a photo to upload
    </p>
    <button class="btn-std">upload</button>
  </div>
</section>
